<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Rotina</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>EDITAR <span>TREINO</span></h1>
            <p class="foco">{{ rotina.nome }} - {{ rotina.foco }}</p>
        </header>

        <main>
            <!-- Bloco de Listagem e Remoção -->
            <div class="card-rotina visible mb-20">
                <h2 class="mb-15">Exercícios Atuais</h2>
                <ul class="lista-limpa">
                    {% for exercicio in rotina.exercicios %}
                    <li class="lista-item">
                        <div>
                            <strong class="item-titulo">{{ exercicio.nome }}</strong>
                            <span class="item-meta">{{ exercicio.series | length }} séries</span>
                        </div>
                        <a href="/remover_exercicio/{{ rotina.id }}/{{ exercicio.nome }}" class="btn-remover">REMOVER</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Bloco de Inserção de Novo Exercício -->
            <div class="card-rotina visible">
                <h2 class="mb-15">Theload- Novo Exercício</h2>
                <form action="/adicionar_exercicio/{{ rotina.id }}" method="POST" class="form-coluna" id="form-novo-exercicio" onsubmit="prepararEnvioEdicao(event)">
                    <input type="text" name="nome" class="input-treino" placeholder="Nome do Exercício" required>
                    <input type="hidden" name="dados_series" id="dados_series_edicao" value="">
                    
                    <h3 class="foco mt-10">Séries Planejadas</h3>
                    <div class="series-container-edicao">
                        <!-- Linhas adicionadas via JS -->
                    </div>
                    <button type="button" class="btn-cronometro mt-10" onclick="adicionarSerieEdicao(this)">+ ADICIONAR SÉRIE</button>
                    
                    <button type="submit" class="btn-iniciar mt-20 btn-secundario">SALVAR EXERCÍCIO NA ROTINA</button>
                </form>
            </div>

            <a href="/" class="btn-iniciar mt-20">SALVAR E VOLTAR</a>
        </main>
    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>